<%-include ('partials/header.ejs');%>
  <body>

    <%-include ('partials/navbar.ejs');%>
    
    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        
        <p><%= pergunta.descricao %></p>
        <hr>
        <form method="POST" action="/salvarresposta">
            
            <h2>Responda:</h2>
            
            <textarea name="corpo" placeholder="Descreva sua resposta" class="form-control"></textarea>
            <input name="perguntaID" type="hidden" value="<%=pergunta.id%>">
            <br>
            <button type="submit"  class="btn btn-success">Responder</button>
        </form>

        <hr>

        <h3>RESPOSTAS:</h3>

        <% respostas.forEach((resposta)=>{ %>
            <br>
              
              <div class="card">
                <div class="card-body">
                  <p><%= resposta.corpo %></p>
                </div>
              </div>
            <% }) %>

    </div>
  </body>

  <%-include ('partials/footer.ejs');%>























